@charset "utf-8";
@import "design";
// 디자인도같이수입해야한다
@import url('http://ksr2214.dothome.co.kr/common/css/reset.css');

.board-wrap{
    .info-1{
        float: left;
        em{
            color:$fontColor-3;
            margin-left: 5px;
        }
    }
    .board-sch-frm{
        float: right;
        position: relative;
        .board-btn-1{
            position: absolute;
            right: 0;top: 0;
        }
    }

}
* + .table-basic-st-1, 
* + .scroll-wrap{
   position: relative;
   top: 10px;
   margin-bottom: 10px;
//    모든요소다음에 뭔가가 있으면
}
.table-basic-st-1 {
    width: 100%;
    border-top: 3px solid #222;
    thead{
        th{
            background-color: #eee;
            height: 47px;
            border-bottom: 1px solid #aaa;
            color: #222;
        }
    }
    tbody{
        td{
            height: 40px;
            border-bottom: 1px solid #eee;
            text-align: center;
        }
    }
}
.icon-pdf{
    display: inline-block;
    width: 25px;
    height: 26px;
    text-indent: -9999px;
    // pdf글자밖으로 out!
    background: url(../images/board/split-icon-1.png) no-repeat 0 0;
}
.pager-wrap{
    padding-top: 23px;
    // 마진을 이미줘서 겹침현상피하기위해
    text-align: center;
    font-size: 0;
    margin-left: -5px;
    > a{text-indent: -9999px;
        // 자식요소a만
        background: url(../images/board/split-icon-1.png) no-repeat -34px -6px;
        // 배경이 왼쪽으로 위로 이동해야하니까
        &.prev-page{
            background-position: -40px -63px;
        }
        &.next-page{
            background-position: -38px -90px;
        }
        &.last-page{
            background-position: -35px -33px;
        }
    }
    a{
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 28px;
        border: 1px solid #ccc;
        font-size: 13px;
        margin-left: 5px;

    }
    ul{
        display: inline-block;
    
    li{
        display: inline-block;
    }
}
}
.info-page-view{
    display: none;
}
//모바일
@media (max-width:720px){
    .board-wrap{
        .info-1{
            float: none;
            margin-bottom: 10px;
        }
        .board-sch-frm {
        float: none;
        
        .inp-txt-1{
            min-width: auto;
            width: 100%;
            padding-right: 0;
        }
    }
        .inp-zone-1{
        position: relative;
        padding-left:105px ;
        // 95+10
        padding-right: 62px;

        }
        .inp-select-1{
            width: 95px;position: absolute;
            left: 0;top: 0;
            min-width: auto;
        }
    }
    .table-basic-st-1{
        min-width: 520px;
        // 520이하로줄지마라
        table-layout: fixed;
        
    }
    .td-subject{
        @include els;
        // 먹히지않아table속성탓이다 그안에있는 내용만큼 늘어나고 nowrap이니 줄바꿈이업어
        // 그래서강제로 fixed를 준다

    }
    
    .scroll-wrap{
        width: 100%;
        overflow-x: auto;
    }
    .info-page-view{
        display: block;
        padding-top: 10px;
        color: #222;
    }
    .pager-wrap{
        .pager-list{
            display: none;
        }
    }
}