@charset "utf-8";
/* 도깨비 메인 CSS - main.css */

/* 초기화 셋팅 */
html, body{
  margin: 0;
  padding: 0;
  height: 100%;/* 화면에 보이는 높이값 */
}
body{
  background: url(../images/bg_mainvisual.jpg) no-repeat center/cover;
}

/* 스크롤바 트랙 변경하기 클래스 */
/* -webkit- 벤더사명(크롬,사파리) 접두어 */
.scbar::-webkit-scrollbar{/*전체 스크롤바 크기 */
  width: 7px;
}
.scbar::-webkit-scrollbar-thumb{/* 스크롤바 */
  background-color: #555;
  border-radius: 5px;
}
.scbar::-webkit-scrollbar-track{/*흰부분 통로 */
  background-color: #ddd;
  border-radius: 5px;
}


/* 1.상단영역 */

/* 로고 */
.logo img{/* 이미지 마진위치 조정 */
  margin: 45px 0 0 70px;
}

/* 2.메인영역 */

/* 캐릭터 박스 */
#cbx{
  width: 90%;
  /* height: 300px; 자식요소float때문에 자식요소를 인식하지 못함
  높이값이 없을때 높이값이 안나옴 */
  margin: 50px auto 0;/* 마영오 - 블록박스 가로중앙정렬 */
  /* overflow: hidden; 가상요소로 해제함*/
}

/* 가상요소로 float해제 */
.clb::after{
  content: '';
  display: block;
  clear: both;
}

/* 개별캐릭터 박스 공통*/

.cat{
  width: 25%; /* 4등분 */
  /* height: 100%;
  높이값이 없으면 auto이고 내용만큼 늘어남 */
  float: left;
  /* 블록요소가 옆으로 흐르게 함
  left값을 주면 나는 왼쪽, 다른요소는 오른쪽에 올 수 있게 함
  */
  /* 안쪽여백 */
  padding: 5px;
  /* 마진,패딩 포함하기 속성 */
  box-sizing: border-box;
  
}
/* 캐릭터 이미지 */
.cat > img{
  width: 100%;
  /* 이미지의 height는 자동(비율유지) */
}
.ci > img{/* 직계자식 이미지만 */
  width: 100%;
}
/* 캐릭터 이름 */
.ci span{
  text-align: center;
  display: block;
  margin-top: -22%;
  /* 비율로 이미지가 변경되므로 마진도 상대적으로 변경되게함! */
}

/* 캐릭터 이름 이미지 */
.ci span img{
  width: 40%;

}

/* 캐릭터 이름 첫번째 이미지 숨기기 */

/* display:none사용 */
.ci span img:first-child{
  display: none;
}

/* .cat박스에 마우스 오버시 */
/* 캐릭터 이름 첫번쨰 이미지 보이기 */
/* 원래 이미지는 display:inline */
.cat:hover .ci span img:first-child{
  display: inline; /* 인라인 요소니까 인라인을 주느거임 */
}
/* .cat박스에 마우스 오버시 */
/* 캐릭터 이름 마지막 이미지 숨기기 */
.cat:hover .ci span img:last-child{
  display: none;
}

/* 캐릭터 설명박스 */
.cd{
  background: url(../images/eachBG.jpg) no-repeat center/cover;
  height: 250px;
  overflow: auto;/* 넘치면 스크롤바 */
  margin-top: 15px;
  border-radius: 20px 0 0 20px;

  /* 둥금모서리 방향별로 주기
    border-radius:왼위 오른위 오른아래 왼아래(왼쪽부터 시계방향설정)
  */
  border-start-start-radius: 10px;
  
}

/* 캐릭터 설명 타이틀 */
.cd h3{
  padding: 20px;
}

/* 캐릭터설명 문단 */
.cd p{
  padding: 10px;
  font: 14px/1.5, '맑은 고딕', '돋움', arial ;
  text-align: justify;/* 양쪽정렬 */
}